<!DOCTYPE html>
<html>
	<head>
		  <title>Omrails</title>
		  <%= stylesheet_link_tag    "application", :media => "all" %>
		  <%= javascript_include_tag "application" %>
		  <%= csrf_meta_tags %>
	</head>
	<body>
<<<<<<< HEAD

		<%= render 'layouts/header' %>

=======
		<%= render 'layouts/header' %>
		
>>>>>>> 583a11f8f85f9e3d605b1289bd7c754245458579
		<div class="container">
			<% flash.each do |name, msg| %>
				<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
			<% end %>
			<%= yield %>
			<%= render 'layouts/footer' %>
		</div>

	</body>
</html>
